/*================
FONTS
/*===============*/
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
/*================
GLOBAL VARIABLES
/*===============*/
:root {
    --ff-primary: "Alata", sans-serif;
    --ff-secondary: "Josefin Sans", sans-serif;
    --ff-size: 15px;

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-Gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);

    --transition: all 0.3s;
    --desktop-width: min(80vw, 1440px);
    --gen-pad-mobile: 0 min(5vw, 25px);
    --gen-pad-desktop: 0; /** may not use */
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-primary);
    font-size: var(--ff-size);
    line-height: 1.5em;
    overflow: overlay;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 0%, .7);
    border: 4px solid transparent;
    background-clip: content-box;
    border-radius: 20px;
}
a {
    text-decoration: none;
}
h1,
h2 {
    font-family: var(--ff-secondary);
    font-size: clamp(1.9rem, 1.9rem + 1vw, 2.3rem);
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.1em;
    color: white;
}
.no-scroll {
    overflow: hidden;
}
.main-header {
    height: 100vh;
    background: url("./images/mobile/image-hero.jpg") center / cover no-repeat;
}
.main-nav {
    padding: 2rem 1.5rem;
    width: 100%;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.nav-logo,
.footer-logo {
    width: 45%;
    max-width: 150px;
}
.nav-toggle {
    background: none;
    border: none;
    transition: var(--transition);
}
.nav-toggle img:nth-child(2) {
    display: none;
}
.nav-header.show-links {
    position: absolute;
    left: 1.5rem;
    right: 1.5rem;
}
.nav-toggle.show-links img:nth-child(2) {
    display: inline;
}
.nav-toggle.show-links img:first-child {
    display: none;
}
.nav-links-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    opacity: 0;
    background: var(--black);
    transition: var(--transition);
}
.nav-links-container.show-links {
    height: 100vh;
    opacity: 1;
}
.nav-links {
    position: absolute;
    top: 0; /* overridden in JS */
    left: 0;
}
.nav-links li {
    list-style-type: none;
    padding: 0.7rem 0 0.7rem 1.5rem;
}
.nav-links li:first-child {
    margin-top: auto;
}
.nav-links li:last-child {
    margin-bottom: auto;
}
.nav-links li a {
    color: white;
    font-size: clamp(1.2rem, 1.1rem + 1vw, 1.4rem);
    text-transform: uppercase;
    font-family: var(--ff-secondary);
    font-weight: 300;
}
.banner {
    height: 75vh;
    display: grid;
    place-content: center;
}
.banner-text-wrapper {
    border: 2px solid var(--white);
    padding: 1rem;
    margin: 0 1rem;
}
.banner-text-wrapper span {
    display: block;
}
.about {
    margin-top: 4rem;
    padding: var(--gen-pad-mobile);
}
.about-img {
    background: url("./images/mobile/image-interactive.jpg") center / cover no-repeat;
    width: 100%;
    height: max(200px, 43vw);
}
.about .text-content h2,
.creations h2 {
    margin: 2rem auto 0 auto;
    color: var(--black);
    font-size: clamp(1.5rem, 1.4rem + 1vw, 1.7rem);
    max-width: 14ch;
    text-align: center;
}
.about .text-content p {
    margin: 1rem auto 0 auto;
    font-size: 0.8125rem;
    color: var(--very-dark-gray);
    max-width: 40ch;
    text-align: center;
    padding: 0 1rem;
}
.creations {
    margin-top: 4.5rem;
    padding: var(--gen-pad-mobile);
}
.images-container {
    margin-top: 1.5rem;
}
.images-container div {
    margin: 1rem 0;
    height: max(100px, 25vw);
    position: relative;
}
.images-container div:first-child {
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0)), url("./images/mobile/image-deep-earth.jpg") center / cover no-repeat;
}
.images-container div:nth-child(2) {
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0)), url("./images/mobile/image-night-arcade.jpg") center / cover no-repeat;
}
.images-container div:nth-child(3) {
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0)), url("./images/mobile/image-soccer-team.jpg") center / cover no-repeat;
}
.images-container div:nth-child(4) {
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0)), url("./images/mobile/image-grid.jpg") center / cover no-repeat;
}
.images-container div:nth-child(5) {
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0)), url("./images/mobile/image-from-above.jpg") center / cover no-repeat;
}
.images-container div:nth-child(6) {
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0)), url("./images/mobile/image-pocket-borealis.jpg") center / cover no-repeat;
}
.images-container div:nth-child(7) {
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0)), url("./images/mobile/image-curiosity.jpg") center / cover no-repeat;
}
.images-container div:last-child {
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0)), url("./images/mobile/image-fisheye.jpg") center / cover no-repeat;
}
.images-container span {
    display: block;
    position: absolute;
    left: min(6%, 20px);
    bottom: min(11%, 20px);
    font-size: clamp(1rem, 1rem + 1vw, 1.3rem);
    font-family: var(--ff-secondary);
    font-weight: 300;
    text-transform: uppercase;
    max-width: 7ch;
    color: white;
}
.images-container :is(div:nth-child(3), div:nth-child(5)) span {
    max-width: 9ch;
}
.creations button {
    display: block;
    margin: 1.6rem auto 0 auto;
    font-size: clamp(0.8rem, 0.7rem + 0.5vw, 0.1rem);
    font-family: var(--ff-primary);
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0.4em 2.5em;
    border: 1px solid var(--black);
    background: none;
    transition: var(--transition);
}
.creations button:hover {
    color: var(--white);
    background: var(--black);
}
footer {
    margin-top: 4rem;
    background: var(--black);
}
.footer-logo {
    display: block;
    padding-top: 3rem;
    margin: 0 auto;
}
.f-nav-links li {
    padding: 0.5rem 0;
}
.f-nav-links li:first-child {
    margin-top: 1rem;
}
.f-nav-links li:last-child {
    margin-bottom: 0.5rem;
}
.f-nav-links li a {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: var(--white);
    font-size: 0.8rem;
}
.social-media-icons {
    display: flex;
    justify-content: space-around;
    width: min(50%, 300px);
    margin: 1.5rem auto 0 auto;
}
.social-media-icons i {
    font-size: 18px;
    color: var(--white);
}
footer p {
    margin-top: 1rem;
    text-align: center;
    color: var(--dark-Gray);
    font-size: clamp(11px, 11px + 0.2vw, 13px);
}
.attribution {
    margin-top: 0.8rem;
    padding-bottom: 1.5rem;
    color: var(--dark-Gray);
    font-size: clamp(11px, 10px + 0.5vw, 12px);
    text-align: center;
}
.attribution a {
    color: var(--white);
}
@media screen and (min-width: 568px) and (min-height: 320px) {
    /*starting from small screen landscape mode */
    .nav-links {
        margin-top: min(5vw, 30px);
    }
    .nav-links li {
        padding: 0.5rem 0 0.5rem 1.5rem;
    }
    .nav-links li a {
        font-size: clamp(0.8rem, 0.8rem + 0.5vw, 1.2rem);
    }
    .banner-text-wrapper span {
        display: inline;
    }
    h1 {
        max-width: 15ch;
    }
    .images-container span {
        line-height: clamp(1.7rem, 1.7rem + 1vw, 2rem);
        font-size: clamp(1.1rem, 1rem + 4vw, 1.6rem);
    }
}
@media screen and (min-width: 768px) {
    h1 {
        font-size: clamp(2.5rem, 2.5rem + 4vw, 3.5rem);
    }
    .nav-links li {
        padding: calc(0.7rem + 1vh) 0 calc(0.7rem + 1vh) 1.5rem;
    }
    .nav-links li a {
        font-size: clamp(1.2rem, 1.1rem + 1vw, 1.4rem);
    }
}
@media screen and (min-width: 768px) and (max-height: 500px) {
    /* long phones in landscape mode */
    h1 {
        font-size: clamp(1.9rem, 2rem + 7vh, 2.5rem);
    }
}
@media screen and (min-width: 950px) {
    .no-scroll {
        overflow-y: scroll;
    }
    .main-header {
        background: url("./images/desktop/image-hero.jpg") center / cover no-repeat;
        height: auto;
    }
    .nav-logo,
    .footer-logo {
        width: max(15vw, 180px);
    }
    .nav-toggle:hover {
        cursor: pointer;
    }
    .nav-header {
        position: static !important;
    }
    .nav-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: var(--desktop-width);
        margin: 1rem auto 0 auto;
    }
    .nav-toggle {
        display: none;
    }
    .nav-links-container {
        position: static !important;
        height: auto !important;
        opacity: 1;
        background: transparent;
        width: auto;
    }
    .nav-links {
        position: static;
        display: flex;
        margin: 0;
    }
    .nav-links li {
        padding: 0;
    }
    .nav-links li a {
        font-family: var(--ff-primary);
        font-size: clamp(0.8rem, 0.8rem + 0.2vw, 1.1rem);
        text-transform: capitalize;
        margin: 0 1rem;
    }
    .banner {
        width: var(--desktop-width);
        margin: 0 auto;
        justify-content: start;
    }
    .banner-text-wrapper {
        margin: 0;
    }
    .about {
        margin: 6rem auto 0 auto;
        width: var(--desktop-width);
        padding: 0;
        position: relative;
    }
    .about-img {
        background: url("./images/desktop/image-interactive.jpg") center / cover no-repeat;
        width: 65vw;
        max-width: calc(var(--desktop-width) - 200px);
        max-height: 550px;
        transition: var(--transition);
    }
    .about .text-content {
        position: absolute;
        bottom: 0;
        left: 62%;
        width: 30.5vw;
        max-width:450px;
        padding: 4.3rem 0 0 4.3rem;
        background: var(--white);
    }
    .about .text-content :is(h2, p) {
        text-align: left;
        margin: 0;
        padding: 0;
    }
    .about .text-content h2 {
        max-width: 15ch;
        font-size: clamp(1.65rem, 1.65rem + 0.06vw, 1.95rem);
        transition: var(--transition);
    }
    .about .text-content p {
        margin-top: 1rem;
        max-width: 90ch;
        font-size: clamp(0.8125rem, 0.7rem + 0.1vw, 0.8rem);
    }
    .creations {
        width: var(--desktop-width);
        margin: 8rem auto 0 auto;
        padding: 0;
        position: relative;
    }
    .creations h2 {
        max-width: max-content;
        margin: 0;
        margin-right: auto;
        text-align: left;
        font-size: clamp(1.5rem, 1.5rem + .5vw, 2.3rem);
        transition: var(--transition);
    }
    .creations button {
        position: absolute;
        top: -3.5%;
        right: 0;
    }
    .creations button:hover {
        cursor: pointer;
    }
    .creations button:active {
        background: transparent;
        color: var(--black);
    }
    .images-container {
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .images-container div {
        margin: 0;
        height: calc(200px + 15vw);
        max-height: 520px;
        width: calc(var(--desktop-width) / 4 - 19px);
        transition: var(--transition);
        position: relative;
    }
    .images-container div::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--white);
        opacity: 0;
        transition: var(--transition);
        z-index: 1;
    }
    .images-container div:hover {
        cursor: pointer;
    }
    .images-container div:hover::before {
        opacity: 0.6;
    }
    .images-container span {
        left: 14%;
        bottom: 8%;
        font-size: clamp(1.6rem, 1.6rem + .5vw, 1.8rem);
    }
    .images-container div:hover span {
        color: var(--black);
        z-index: 2;
    }
    .images-container div:first-child {
        background: linear-gradient(to top, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0)), url("./images/desktop/image-deep-earth.jpg") center / cover no-repeat;
    }
    .images-container div:nth-child(2) {
        background: linear-gradient(to top, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0)), url("./images/desktop/image-night-arcade.jpg") center / cover no-repeat;
    }
    .images-container div:nth-child(3) {
        background: linear-gradient(to top, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0)), url("./images/desktop/image-soccer-team.jpg") center / cover no-repeat;
    }
    .images-container div:nth-child(4) {
        background: linear-gradient(to top, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0)), url("./images/desktop/image-grid.jpg") center / cover no-repeat;
    }
    .images-container div:nth-child(5) {
        background: linear-gradient(to top, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0)), url("./images/desktop/image-from-above.jpg") center / cover no-repeat;
    }
    .images-container div:nth-child(6) {
        background: linear-gradient(to top, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0)), url("./images/desktop/image-pocket-borealis.jpg") center / cover no-repeat;
    }
    .images-container div:nth-child(7) {
        background: linear-gradient(to top, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0)), url("./images/desktop/image-curiosity.jpg") center / cover no-repeat;
    }
    .images-container div:last-child {
        background: linear-gradient(to right, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0)), url("./images/desktop/image-fisheye.jpg") center / cover no-repeat;
    }
    footer .content {
        width: var(--desktop-width);
        margin: 10rem auto 0 auto;
        display: grid;
        grid-template-areas:
            "f-logo social-icons"
            "f-nav copyright"
            "attribution attribution";
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    footer .content * {
        margin: 0;
        padding: 0;
    }
    footer .content img {
        grid-area: f-logo;
    }
    .social-media-icons {
        grid-area: social-icons;
        justify-self: end;
        justify-content: space-between;
        max-width: 120px;
    }
    .social-media-icons span:hover {
        cursor: pointer;
    }
    .f-nav-links,
    footer .content p {
        margin-top: 1.5rem;
    }
    .f-nav-links {
        grid-area: f-nav;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        min-width: 280px;
        width: 25vw;
        max-width: 400px;
    }
    .f-nav-links li,
    .f-nav-links li:first-child,
    .f-nav-links li:last-child {
        /* to increase specificity */
        padding: 0;
        margin: 0;
        align-self: flex-end;
    }
    .f-nav-links li a {
        text-align: left;
    }
    footer .content p {
        grid-area: copyright;
        text-align: right;
    }
    div.attribution {
        grid-area: attribution;
        margin-top: 2.5rem;
    }
    /* Hover states -----------*/
    .nav-links li a,
    .f-nav-links li a,
    .social-media-icons span,
    .attribution a {
        position: relative;
    }
    .nav-links li a::before,
    .f-nav-links li a::before,
    .social-media-icons span::before,
    .attribution a::before,
    .nav-links li a::after,
    .f-nav-links li a::after,
    .social-media-icons span::after,
    .attribution a::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 0;
        transition: var(--transition);
    }
    .nav-links li a::before,
    .f-nav-links li a::before,
    .attribution a::before,
    .nav-links li a::after,
    .f-nav-links li a::after,
    .attribution a::after {
        top: 140%;
    }
    .nav-links li a:hover::before,
    .f-nav-links li a:hover::before,
    .social-media-icons span:hover::before,
    .attribution a:hover::before,
    .nav-links li a:hover::after,
    .f-nav-links li a:hover::after,
    .social-media-icons span:hover::after,
    .attribution a:hover::after {
        width: 50%;
        background: var(--white);
    }
    .social-media-icons span:hover::after {
        width: 100%;
    }
    /* End Hover state ------*/
}
@media screen and (min-width: 1100px) {
    .about-img{
        max-width: calc(var(--desktop-width) - 250px);
    }
    .about .text-content h2 {
        font-size: clamp(1.9rem, 1.9rem + .25vw, 2.85rem);
    }
}
@media screen and (min-width: 1440px) {
    .about .text-content h2 {
        font-size: clamp(2.6rem, 2.6rem + .1vw, 2.85rem);
    }
    .creations h2 {
        font-size: 2.45rem;
    }
}
@media screen and (min-width: 1700px) {
    .about-img{
        max-height: 700px;
        max-width: calc(var(--desktop-width) - 200px);
    }
    .about .text-content {
        left: calc(62% + 4.1vw);
    }
}
